:root {
    --header-color: rgb(32, 32, 32);
    --secondary-header-color: rgb(241, 241, 241);
    --tertiary-header-color: rgb(30, 30, 30);
    --accent-color: rgb(255, 222, 196);
    --text-color: black;
    --button-color: black;
}

.header-container {
    height: 81px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header-color);
    color: var(--text-color);
    font-size: 1rem;
    font-family: Verdana, sans-serif;
}

.header-title {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.selection-container {
    display: flex;
    gap: 30px;
    align-items: center;
    color: black;
}

.speed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
}

.speed-header {
    font-size: 1.3rem;
    margin-right: 5px;
    font-weight: bold;
    color: white;
}

.animation-speed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4rem;
    gap: 10px;
    padding: 10px;
    background: white;
    color: black;
    border: 2px solid var(--header-color);
    border-radius: 5px;
    cursor: pointer
}

.animation-speed:hover {
    background: var(--accent-color);
}

.control-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
}

.button {
    width: 40px;
    height: 40px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
 
.button:hover {
    background: var(--accent-color);
}

.button svg {
    width: 20px;
    height: 20px;
    color: black;
}

#start-btn {
    border-radius: 10px 0 0 10px;
}

#pause-btn {
    border-radius: 10px 0 0 10px;
}

#restart-btn {
    border-left: 3px solid black;
    border-right: 3px solid black;
    box-sizing: content-box;
}

#skip-btn {
    border-radius: 0 10px 10px 0;
}

.disabled-btn {
    cursor: not-allowed;
}

.disabled-btn:hover {
    background: none;
}

.disabled {
    opacity: 0.5;
}

