:root {
    --header-color: rgb(80, 98, 132);
    --secondary-header-color: rgb(41, 47, 74);
    --tertiary-header-color: rgb(21, 24, 37);
    --accent-color: rgb(252, 175, 67);
    --text-color: white;
    --button-color: black;
    --button-hover-color: rgb(55, 55, 55);
    --start-button-border-color: rgb(0, 160, 0); 
    --reset-button-border-color: rgb(196, 0, 0);
}

.header-container {
    height: 80px;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: var(--header-color);
    color: var(--text-color);
    font-size: 1rem;
    font-family: Verdana, sans-serif;
}

.header-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color);
}

.selection-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

.output-container {
    padding: 10px;
    flex-grow: 1;
    max-width: 700px;
    font-size: 1.4rem;
    background: var(--tertiary-header-color);
    border-radius: 5px;
}

.output-text {
    padding: 10px;
    background: var(--secondary-header0-color);
    border: 2px solid red;
}


.button-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background: var(--tertiary-header-color);
    border-radius: 10px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    background: var(--secondary-header-color);
    color: var(--text-color);
    border: 2px solid var(--header-color);
}

button:hover {
    border: 2px solid var(--accent-color);
}