:root {
    --start-node-color: rgb(39, 185, 39);
    --finish-node-color: rgb(207, 39, 39);
    --wall-node-color: rgb(71, 71, 71);
    --mud-node-color: brown;
    --water-node-color: blue;
    --visited-node-color: rgb(155, 222, 231);
    --shortest-path-node-color: rgb(231, 161, 155);
}

.node {
    width: 27px;
    height: 27px;
    border-right: 1px solid var(--node-border-color);
}

.node-start {
    background: var(--start-node-color);
}

.node-finish {
    background: var(--finish-node-color);
}

.node-wall {
    background: var(--wall-node-color);
}

.node-visited {
    background: var(--visited-node-color);
}

.node-shortest-path {
    background: var(--shortest-path-node-color);
}