:root {
    --start-node-color: rgb(39, 185, 39);
    --finish-node-color: rgb(207, 39, 39);
    --wall-node-color: rgb(71, 71, 71);
    --mud-node-color: rgb(178, 117, 70);
    --water-node-color: rgb(66, 104, 217);
    --sand-node-color: rgb(227, 227, 112);
    --grass-node-color: rgb(51, 112, 51);
    --visited-node-color: rgb(155, 222, 231);
    --shortest-path-node-color: rgb(231, 161, 155);
}

.node {
    width: 27px;
    height: 27px;
    border-right: 1px solid var(--node-border-color);
}

.node-start {
    background: var(--start-node-color);
}

.node-finish {
    background: var(--finish-node-color);
}

.node-wall {
    background: var(--wall-node-color);
}

.node-mud {
    background: var(--mud-node-color);
}

.node-water {
    background: var(--water-node-color);
}

.node-sand {
    background: var(--sand-node-color);
}

.node-grass {
    background: var(--grass-node-color);
}

.node-visited {
    background: var(--visited-node-color);
}

.node-shortest-path {
    background: var(--shortest-path-node-color);
}