:root {
    --background-color: rgb(216, 216, 216);
    --node-border-color: rgb(80, 98, 132);
    --outer-container-color: rgb(41, 47, 74);
    --inner-container-color: rgb(80, 98, 132);
    --grid-color: rgb(227, 227, 227);
  }

.outer-grid-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background: var(--outer-container-color);
}

.inner-grid-container {
    background: var(--inner-container-color);
    padding: 15px;
    border-radius: 10px;
}

.grid {
    margin: auto;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--node-border-color);
    border-top: 1px solid var(--node-border-color);
    background: var(--grid-color);
}

.row {
    display: flex;
    border-bottom: 1px solid var(--node-border-color);
}