:root {
    --background-color: rgb(216, 216, 216);
    --node-border-color: black;
    --outer-container-color: black;
    --inner-container-color: rgb(185, 185, 185);
    --graph-color: rgb(217, 217, 217);
  }

.outer-grid-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background: var(--outer-container-color);
}

.inner-grid-container {
    background: var(--inner-container-color);
    padding: 20px;
    border-radius: 10px;
}

.grid {
    margin: auto;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--node-border-color);
    border-top: 1px solid var(--node-border-color);
    background: var(--graph-color);
}

.row {
    display: flex;
    border-bottom: 1px solid var(--node-border-color);
}