.reset-dropdown-container {
    display: flex;
    align-items: center;
    height: 80%;
    padding: 8px;
    background: var(--tertiary-header-color);
    border-radius: 10px;
}

.reset-dropdown-container p {
    font-size: 1.3rem;
    margin-right: 5px;
    font-weight: bold;
    color: white;
}

.reset-dropdown {
    position: relative;
    width: fit-content;
    font-size: 1.4rem;
}

.reset-dropdown-header {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.selected-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: white;
    color: black;
    border: 2px solid var(--header-color);
    border-radius: 5px 0 0 5px;
}

.reset-dropdown-arrow-container {
    display: flex;
    align-items: center;
    padding: 0 8px 0 8px;
    cursor: pointer;
    background: var(--secondary-header-color);
    border: 2px solid var(--header-color);
    border-radius: 0 5px 5px 0;
}

.selected-reset-container:hover {
    background: var(--accent-color);
    cursor: pointer;
}

.reset-dropdown-arrow-container:hover {
    background:var(--accent-color);
}

.reset-dropdown-arrow {
    font-size: 12px;
}

.reset-dropdown-list {
    position: absolute;
    width: max-content;
    margin-top: 4px;
    list-style-type: none;
    overflow-y: auto;
    z-index: 100;
    background-color: white;
    color: black;
    border: 2px solid var(--tertiary-header-color);
    border-radius: 5px;
}

.reset-dropdown-list-item {
    display: flex;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid var(--tertiary-header-color);
}

.reset-dropdown-list-item:hover {
    background-color: var(--accent-color);
}